* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(135deg, #050505, #0a1a2f);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.logo {
  color: #00bfff;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.navbar a:hover {
  color: #00bfff;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero h3 {
  color: #00bfff;
  margin: 10px 0;
}

.hero p {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  border: 2px solid #00bfff;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.btn:hover {
  background: #00bfff;
  color: black;
  box-shadow: 0 0 15px #00bfff;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  opacity: 0.7;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background: #111827;
  border: 1px solid #00bfff;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card h3 {
  color: #00bfff;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  line-height: 1.5;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px #00bfff;
}
.skill {
  margin: 20px auto;
  max-width: 700px;
}

.skill h3 {
  margin-bottom: 8px;
  color: #00bfff;
}

.skill-bar {
  width: 0;
  height: 20px;
  background: #00bfff;
  border-radius: 10px;
  transition: width 2s ease;
}
.contact-btn {
  display: inline-block;
  padding: 15px 40px;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid #00bfff;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #00bfff;
  color: black;
  box-shadow: 0 0 20px #00bfff;
}